<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" go-back ng-click="goback()">返回</button>
    <button class="button pull-right" go-home ng-click="goHomePage()">首页</button>
  </ion-header-bar>
  <ion-content class="padding stable-bg">
    <div class="list list-borderless light-bg">
       <h3 class="text-center">{{bookData.title}}</h3>
      <div class="list list-borderless ">
      <div class="item item-borderless row row-center ">
      <div class="col-20 col-top"><img class="col" ng-src="{{bookData.image}}"></div>
        <div class="col-80">
      <p>分类：<span class="energized">{{bookData.category}}</span></p>
      <p>作者：<span>{{bookData.author}}</span></p>
      <p><span>{{bookData.word}}</span>字</p>
      <p><span>章节数：</span><span>{{bookData.chapterCount}}</span>章</p>
      <p><span>勋章：</span><span>11</span><span class="padding-left">打赏：</span><span>30656</span></p>
      <p><span>评论：</span><span>9</span>人<span class="padding-left">评论：</span><span>306</span></p>
      </div>
      </div>
        <div class="row cu-bookButton cu-border">
            <div class="col energized-bg">立即阅读</div>
            <div class="col stable-bg">收藏</div>
            <div class="col stable-bg">查看目录</div>
        </div>
        <div class="padding cu-border">
             <div class="padding"><span>最新章节:</span><span class="energized padding-left">{{bookData.lastchapter}}</span></div>
             <div class="padding"><span>更新时间：</span><span class=" padding-left">({{bookData.lastupdate | formatDate}} 更新)</span></div>
        </div>
        <div class="padding cu-introduce"><span>简介：</span><span>{{bookData.intro}}</span><span>支持正版，《看书网》</span></div>
        <div class="row cu-userCenterButton text-center">
          <div class="col">
          <a class="col-20 stable-bg" go-comment ng-click="goComment()">
            <i class="icon ion-home"></i>
            书评
          </a>
          <a class="col-20 stable-bg">
            <i class="icon ion-home"></i>
            勋章
          </a>
          <a class="col-20 stable-bg ">
            <i class="icon ion-home"></i>
            打赏
          </a>
          <a class="col-20 stable-bg">
            <i class="icon ion-home"></i>
            粉丝
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list list-borderless light-bg">
      <h3 class="text-left">作者相关佳作</h3>
      <div class="list list-borderless ">
        <div class="item item-borderless row row-center cu-border ">
          <div class="col-20 col-top"><img class="col" src="../img/ben.png"></div>
          <div class="col-80">
            <p>被骗传销：我燃烧的青春</p>
            <p><span>都市</span>.<span>(全本)</span></p>
            <p>被美女骗进了传销窝，为了脱身我不得不各种掩藏自己。</p>
          </div>
        </div>
        <div class="item item-borderless light-bg">
          <div class="row cu-border">
            <div class="padding">
              <a href="" class="energized">都市</a>
              <span class="padding-left padding-right">|</span>
              <a href="">雨夜荒屋妹子:乡野春风</a>
            </div>
          </div>
          <div class="row cu-border">
            <div class="padding">
              <a href="" class="energized">都市</a>
              <span class="padding-left padding-right">|</span>
              <a href="">雨夜荒屋妹子:乡野春风</a>
            </div>
          </div>
          <div class="row cu-border">
            <div class="padding">
              <a href="" class="energized">都市</a>
              <span class="padding-left padding-right">|</span>
              <a href="">雨夜荒屋妹子:乡野春风</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    <div class="list list-borderless light-bg padding">
        <div class="row text-center">
          <div class="col energized light-bg cu-hasborder">粉丝动态</div>
          <div class="col stable-bg">本书粉丝团</div>
        </div>
        <div>
            <div class="cu-border padding">
              <p class=""><span>fdshsd</span><img src="../img/500.gif" alt=""/><span class="right">17/03/08 23:28</span></p>
              <span class="">土豪呀，打赏这么多！</span>
            </div>
          <div class="cu-border padding">
              <p class=""><span>fdshsd</span><img src="../img/500.gif" alt=""/><span class="right">17/03/08 23:28</span></p>
              <span class="">土豪呀，打赏这么多！</span>
            </div>
          <div class="cu-border padding">
              <p class=""><span>fdshsd</span><img src="../img/500.gif" alt=""/><span class="right">17/03/08 23:28</span></p>
              <span class="">土豪呀，打赏这么多！</span>
            </div>
          <div class="cu-border padding">
              <p class=""><span>fdshsd</span><img src="../img/500.gif" alt=""/><span class="right">17/03/08 23:28</span></p>
              <span class="">土豪呀，打赏这么多！</span>
            </div>
        </div>
      <div class="text-center energized padding">更多作品&gt;</div>
    </div>
    <div class="list list-borderless light-bg">
      <h3 class="text-left">你可能会喜欢</h3>
      <div class="list list-borderless ">
        <div class="item item-borderless row row-center cu-border ">
          <div class="col-20 col-top"><img class="col" src="../img/ben.png"></div>
          <div class="col-80">
            <p>被骗传销：我燃烧的青春</p>
            <p><span>都市</span>.<span>(全本)</span></p>
            <p>被美女骗进了传销窝，为了脱身我不得不各种掩藏自己。</p>
          </div>
        </div>
        <div class="item item-borderless light-bg">
          <div class="row cu-border">
            <div class="padding">
              <a href="" class="energized">都市</a>
              <span class="padding-left padding-right">|</span>
              <a href="">雨夜荒屋妹子:乡野春风</a>
            </div>
          </div>
          <div class="row cu-border">
            <div class="padding">
              <a href="" class="energized">都市</a>
              <span class="padding-left padding-right">|</span>
              <a href="">雨夜荒屋妹子:乡野春风</a>
            </div>
          </div>
          <div class="row cu-border">
            <div class="padding">
              <a href="" class="energized">都市</a>
              <span class="padding-left padding-right">|</span>
              <a href="">雨夜荒屋妹子:乡野春风</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center padding energized-bg"><span>低调~沉默者</span>评论了&lt;<span>害羞的王者<span>&gt;</div>
    <div class="item item-input light-bg energized-border cu-padding cu-margin">
      <input class="item-input-inset light-bg" placeholder="搜书" type="text"/>
      <button class="button item-button-right stable-bg energized"><i class="icon padding-right ion-android-search"></i>搜索</button>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="dark-bg">
    <div class="row padding text-center">
      <a class="cu-col-17 light" go-home ng-click="goHomePage()">首页</a>
      <a class="cu-col-17 light" go-bookshelf ng-click="goBookShelf()">书架</a>
      <a class="cu-col-17 light" go-bookitems ng-click="goBookitems()">分类</a>
      <a class="cu-col-17 light" go-message ng-click="goMessage()">留言</a>
      <a class="cu-col-17 light" go-recharge ng-click="goRecharge()">充值</a>
      <a class="cu-col-17 light">客户端</a>
    </div>
  </ion-footer-bar>
</ion-view>
