<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" go-login ng-click="goLoginPage()">登录</button>
    <button class="button pull-right" go-bookshelf ng-click="goBookShelf()">我的书架</button>
  </ion-header-bar>
  <ion-content class="padding stable-bg">
    <div class="list light-bg">
      <div class="padding text-left">
            <span class="energized">作品分类:</span>
            <span class=" positive">全部</span>
            <span class="">豪门总裁</span>
            <span class="">浪漫言情</span>
            <span class="">穿越幻想</span>
            <span class="">末世科幻</span>
            <span class="">古代言情</span>
            <span class="">军事历史</span>
            <span class="">玄幻奇幻</span>
      </div>
      <div class="padding text-left">
        <span class="energized">写作进度:</span>
        <span class=" positive">全部</span>
        <span class="">连载中</span>
        <span class="">已完结</span>
      </div>
      <div class="padding text-left">
        <span class="energized">作品属性:</span>
        <span class=" positive">全部</span>
        <span class="">免费小说</span>
        <span class="">付费小说</span>
      </div>
      <div class="padding text-left">
        <span class="energized">排序方式:</span>
        <span class=" positive">最新更新</span>
        <span class="">总点击</span>
        <span class="">已完结</span>
      </div>
    </div>
    <div class="list light-bg">
      <div class="item item-borderless item-text-wrap cu-book">
          <div class="row positive">我欲封天</div>
          <div class="row">第4章 他有多禽兽(2017-03-04 19:58:39)</div>
          <span class="row cu-border">作者：<span>秀儿</span> 字数：<span>7548</span></span>
      </div>
      <div class="item item-borderless item-text-wrap cu-book">
          <div class="row positive">我欲封天</div>
          <div class="row">第4章 他有多禽兽(2017-03-04 19:58:39)</div>
          <span class="row cu-border">作者：<span>秀儿</span> 字数：<span>7548</span></span>
      </div>
      <div class="item item-borderless item-text-wrap cu-book">
          <div class="row positive">我欲封天</div>
          <div class="row">第4章 他有多禽兽(2017-03-04 19:58:39)</div>
          <span class="row cu-border">作者：<span>秀儿</span> 字数：<span>7548</span></span>
      </div>
      <div class="item item-borderless item-text-wrap cu-book">
          <div class="row positive">我欲封天</div>
          <div class="row">第4章 他有多禽兽(2017-03-04 19:58:39)</div>
          <span class="row cu-border">作者：<span>秀儿</span> 字数：<span>7548</span></span>
      </div>
      <div class="text-center padding">
        <label class="item item-input item-borderless item-select">
        <span class="input-label cu-pagenumber">
        </span>
          <select>
            <option>1/3</option>
            <option selected>2/3</option>
            <option>3/3</option>
          </select>
        </label>
        <div class="stable-bg balanced inline-block">下一页</div>
        </div>
    </div>
    <div class="item item-input light-bg energized-border cu-padding cu-margin">
      <input class="item-input-inset light-bg" placeholder="搜书" type="text"/>
      <button class="button item-button-right stable-bg energized"><i class="icon padding-right ion-android-search"></i>搜索</button>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="dark-bg">
    <div class="row padding text-center">
      <a class="cu-col-17 light" go-home ng-click="goHomePage()">首页</a>
      <a class="cu-col-17 light" go-bookshelf ng-click="goBookShelf()">书架</a>
      <a class="cu-col-17 light" go-bookitems ng-click="goBookitems()">分类</a>
      <a class="cu-col-17 light" go-message ng-click="goMessage()">留言</a>
      <a class="cu-col-17 light" go-recharge ng-click="goRecharge()">充值</a>
      <a class="cu-col-17 light">客户端</a>
    </div>
  </ion-footer-bar>
</ion-view>
