<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" ng-click="goback()">返回</button>
    <button class="button pull-right">首页</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="item">
        <img src="" alt="">
        <input type="text" placeholder="请输入用户名">
      </div>
      <div class="item">
        <img src="" alt="">
        <input type="text" placeholder="请输入密码">
      </div>
      <div class="item">
        <button class="button">登录</button>
      </div>
      <div class="item">
        <button class="button">注册</button>
      </div>
    </div>
    <div>
      <img src="" alt="">
      <span>QQ登录</span>
    </div>
  </ion-content>
</ion-view>
