<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" go-login ng-click="goLoginPage()">登录</button>
    <button class="button pull-right" go-bookshelf ng-click="goBookShelf()">我的书架</button>
  </ion-header-bar>
  <ion-content class="padding stable-bg">
    <div class="list light-bg">
      <div class="item item-borderless list-item padding"><h3 class="text-center energized">男生书库</h3></div>
      <div class="text-center padding ">
          <div class="row cu-kind">
            <div class="col stable-bg">玄幻奇幻</div>
            <div class="col stable-bg">武侠仙侠</div>
            <div class="col stable-bg">都市言情</div>
          </div>
          <div class="row cu-kind">
            <div class="col stable-bg">历史军事</div>
            <div class="col stable-bg">网游竞技</div>
            <div class="col stable-bg">科幻灵异</div>
          </div>
      </div>
    </div>
    <div class="list light-bg">
      <div class="item item-borderless list-item padding"><h3 class="text-center energized">女生频道</h3></div>
      <div class="text-center padding">
        <div class="row cu-kind">
          <div class="col stable-bg">玄幻奇幻</div>
          <div class="col stable-bg">武侠仙侠</div>
          <div class="col stable-bg">都市言情</div>
        </div>
        <div class="row cu-kind">
          <div class="col stable-bg">历史军事</div>
          <div class="col stable-bg">网游竞技</div>
          <div class="col stable-bg">科幻灵异</div>
        </div>
      </div>
    </div>
    <div class="list light-bg">
      <div class="item item-borderless list-item padding"><h3 class="text-left">经典热销神作</h3></div>
      <div class="text-center padding">
        <div class="row cu-border">
          <span class="energized">都市</span>
          <span class="padding-left padding-right">|</span>
          <span>青春无悔</span>
        </div>
      </div>
      <div class="text-center padding">
        <div class="row cu-border">
          <span class="energized">玄幻</span>
          <span class="padding-left padding-right">|</span>
          <span>美女图</span>
        </div>
      </div>
      <div class="text-center padding">
        <div class="row cu-border">
          <span class="energized">都市</span>
          <span class="padding-left padding-right">|</span>
          <span>极品纨绔</span>
        </div>
      </div>
      <div class="text-center padding">
        <div class="row cu-border">
          <span class="energized">玄幻</span>
          <span class="padding-left padding-right">|</span>
          <span>纯阳仙尊</span>
        </div>
      </div>
      <div class="text-center padding">
        <div class="row cu-border">
          <span class="energized">都市</span>
          <span class="padding-left padding-right">|</span>
          <span>青春无悔</span>
        </div>
      </div>
      <div class="text-center energized">更多作品&gt;</div>
    </div>
    <div class="item item-input light-bg energized-border cu-padding cu-margin">
      <input class="item-input-inset light-bg" placeholder="搜书" type="text"/>
      <button class="button item-button-right stable-bg energized"><i class="icon padding-right ion-android-search"></i>搜索</button>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="dark-bg">
    <div class="row padding text-center">
      <a class="cu-col-17 light" go-home ng-click="goHomePage()">首页</a>
      <a class="cu-col-17 light" go-bookshelf ng-click="goBookShelf()">书架</a>
      <a class="cu-col-17 light" go-bookitems ng-click="goBookitems()">分类</a>
      <a class="cu-col-17 light" go-message ng-click="goMessage()">留言</a>
      <a class="cu-col-17 light" go-recharge ng-click="goRecharge()">充值</a>
      <a class="cu-col-17 light">客户端</a>
    </div>
  </ion-footer-bar>
</ion-view>
