<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" go-login ng-click="goLoginPage()">登录</button>
    <button class="button pull-right" go-bookshelf ng-click="goBookShelf()">我的书架</button>
  </ion-header-bar>
  <ion-content class="padding stable-bg">
    <div class="list">
      <div class="row padding cu-margin">温馨提示：</div>
      <div class="row padding">
        1、尊敬的用户您好，20章之后将进入收费章节，我们代表努力写作的作者感谢您对作品的认可，您的每一个支持都是对作者创作的最好鼓励。
      </div>
      <div class="row padding">
        2、阅读1000字仅需5分钱，30元钱可以兑换3300金币便可以至少阅读60万字，而60万字需要作者至少四个月的创作时间才能完成。所以我们真诚的期待您可以对作者进行支持，进行正版付费阅读。
      </div>
      <div class="row padding">
        3、温馨提示，充值越多赠送越多，真心感谢您的所有支持，您的支持是作者创作的最大源动力。
      </div>
    </div>
    <div class="list cu-pay">
      <div class="row padding cu-margin"><img src="../img/pay.png" alt=""/><span class="inline-block padding-top padding-left">微信扫码支付</span></div>
      <div class="row ">
        <div class="cu-col-32 cu-payBox"><div class="cu-pay-white">3000+<span class="energized">300金币</span></div><div class="cu-bar text-center cu-pay-bar">30元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="cu-pay-white">5000+<span class="energized">500金币</span></div><div class="cu-bar text-center cu-pay-bar">50元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="cu-pay-white">8000+<span class="energized">800金币</span></div><div class="cu-bar text-center cu-pay-bar">80元</div></div>
      </div>
      <div class="row ">
        <div class="cu-col-32  cu-payBox"><div class=" cu-pay-white">10000+<span class="energized">2000金币</span></div><div class="cu-bar text-center cu-pay-bar">100元</div></div>
        <div class="cu-col-32  cu-payBox"><div class="cu-pay-white">20000+<span class="energized">5000金币</span></div><div class="cu-bar text-center cu-pay-bar">200元</div></div>
        <div class="cu-col-32  cu-payBox"><div class=" cu-pay-white">50000+<span class="energized">20000金币</span></div><div class="cu-bar text-center cu-pay-bar">500元</div></div>
      </div>
    </div>
    <div class="list cu-pay">
      <div class="row padding cu-margin"><img src="../img/pay.png" alt=""/><span class="inline-block padding-top padding-left">微信支付</span></div>
      <div class="row ">
        <div class="cu-col-32 cu-payBox"><div class="row  cu-pay-white">3000+<span class="energized">300金币</span></div><div class="cu-bar text-center cu-pay-bar">30元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="row cu-pay-white">5000+<span class="energized">500金币</span></div><div class="cu-bar text-center cu-pay-bar">50元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="row cu-pay-white">8000+<span class="energized">800金币</span></div><div class="cu-bar text-center cu-pay-bar">80元</div></div>
      </div>
      <div class="row ">
        <div class="cu-col-32  cu-payBox"><div class="row  cu-pay-white">10000+<span class="energized">2000金币</span></div><div class="cu-bar text-center cu-pay-bar">100元</div></div>
        <div class="cu-col-32  cu-payBox"><div class="row cu-pay-white">20000+<span class="energized">5000金币</span></div><div class="cu-bar text-center cu-pay-bar">200元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="row cu-pay-white">50000+<span class="energized">20000金币</span></div><div class="cu-bar text-center cu-pay-bar">500元</div></div>
      </div>
    </div>
    <div class="list cu-pay">
      <div class="row padding cu-margin"><img src="../img/zhifubao.png" alt=""/><span class="inline-block padding-top padding-left">支付宝支付</span></div>
      <div class="row ">
        <div class="cu-col-32 cu-payBox"><div class="row  cu-pay-white">3000+<span class="energized">300金币</span></div><div class="cu-bar text-center cu-pay-bar">30元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="row cu-pay-white">5000+<span class="energized">500金币</span></div><div class="cu-bar text-center cu-pay-bar">50元</div></div>
        <div class="cu-col-32 cu-payBox"><div class="row cu-pay-white">8000+<span class="energized">800金币</span></div><div class="cu-bar text-center cu-pay-bar">80元</div></div>
      </div>
      <div class="row ">
        <div class="cu-col-32 cu-payBox"><div class="  cu-pay-white">10000+<span class="energized">2000金币</span></div><div class="cu-bar text-center cu-pay-bar">100元</div></div>
        <div class="cu-col-32  cu-payBox"><div class=" cu-pay-white">20000+<span class="energized">5000金币</span></div><div class="cu-bar text-center cu-pay-bar">200元</div></div>
        <div class="cu-col-32 cu-payBox"><div class=" cu-pay-white">50000+<span class="energized">20000金币</span></div><div class="cu-bar text-center cu-pay-bar">500元</div></div>
      </div>
    </div>
    <div class="list  padding">
      <div class="row  cu-margin">兑换比例：1元=100金币</div>
      <div class="row cu-margin">客服热线：18780276067</div>
      <div class="row cu-margin">客服qq：800080900</div>
      <div class="row cu-margin">【微信公众号】请用微信扫描二维码或直接微信搜索公众号-掌上看书网（zhangshangksw），添加关注即可免费畅读精彩小说，定期大量书币送不停！</div>
      <div class="row"><img class="cu-qrcode" src="../img/qrcode.png" alt=""/></div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="dark-bg">
    <div class="row padding text-center">
      <a class="cu-col-17 light">首页</a>
      <a class="cu-col-17 light">书架</a>
      <a class="cu-col-17 light">分类</a>
      <a class="cu-col-17 light">留言</a>
      <a class="cu-col-17 light">充值</a>
      <a class="cu-col-17 light">客户端</a>
    </div>
  </ion-footer-bar>
</ion-view>
