<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" go-back ng-click="goback()">返回</button>
    <button class="button pull-right" go-home ng-click="goHomePage()">首页</button>
  </ion-header-bar>
  <ion-content class="padding stable-bg">
     <div class="list cu-userMessage light-bg padding">
        <div><span>账号：</span><span>会飞的鱼</span></div>
        <div><span>余额：</span><span>0</span>金币<span class="energized right">[充值]</span></div>
        <div><span>勋章：</span><span>0</span>个</div>
        <div><span>等级：</span><span>白丁</span><span>(0/20)</span></div>
       <button class="button-stable">退出登录</button><button class="button-stable">更换账号</button>
     </div>
      <div class="list light-bg "  padding>
      <div class="row text-center">
        <div class="col padding light-bg energized">充值记录</div>
        <div class="col padding stable-bg">消费记录</div>
        <div class="col padding stable-bg">我的头衔</div>
      </div>
      <div class="item item-borderless">
        <div class="cu-border padding ">奋斗在盛唐</div>
        <div class="cu-border padding">奋斗在盛唐</div>
        <div class="cu-border padding">奋斗在盛唐</div>
      </div>
      </div>
    <div class="text-center padding energized-bg"><span>继续阅读:</span><span>害羞的王者</span></div>
    <div class="list light-bg cu-margin">
      <div class=" item-borderless list-item padding-left"><h3 class="inline-block cu-font-18">经典人气小说</h3></div>
      <div class="row cu-border">
        <div class="padding">
          <a href="" class="energized">都市</a>
          <span class="padding-left padding-right">|</span>
          <a href="">雨夜荒屋妹子:乡野春风</a>
        </div>
      </div>
      <div class="row cu-border">
        <div class="padding">
          <a href="" class="energized">都市</a>
          <span class="padding-left padding-right">|</span>
          <a href="">雨夜荒屋妹子:乡野春风</a>
        </div>
      </div><div class="row cu-border">
      <div class="padding">
        <a href="" class="energized">都市</a>
        <span class="padding-left padding-right">|</span>
        <a href="">雨夜荒屋妹子:乡野春风</a>
      </div>
    </div><div class="row cu-border">
      <div class="padding">
        <a href="" class="energized">都市</a>
        <span class="padding-left padding-right">|</span>
        <a href="">雨夜荒屋妹子:乡野春风</a>
      </div>
    </div>
      <div class="text-center energized padding">更多作品&gt;</div>
    </div>
    <div class="text-center padding energized-bg"><span>低调~沉默者</span>收藏了&lt;<span>害羞的王者<span>&gt;</div>
    <div class="item item-input light-bg energized-border cu-padding cu-margin">
      <input class="item-input-inset light-bg" placeholder="搜书" type="text"/>
      <button class="button item-button-right stable-bg energized"><i class="icon padding-right ion-android-search"></i>搜索</button>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="dark-bg">
    <div class="row padding text-center">
      <a class="cu-col-17 light" go-home ng-click="goHomePage()">首页</a>
      <a class="cu-col-17 light" go-bookshelf ng-click="goBookShelf()">书架</a>
      <a class="cu-col-17 light" go-bookitems ng-click="goBookitems()">分类</a>
      <a class="cu-col-17 light" go-message ng-click="goMessage()">留言</a>
      <a class="cu-col-17 light" go-recharge ng-click="goRecharge()">充值</a>
      <a class="cu-col-17 light">客户端</a>
    </div>
  </ion-footer-bar>
</ion-view>
