<ion-view>
  <ion-header-bar align-title="left" class="bar bar-header cu-bar">
    <button class="button pull-left" go-back ng-click="goback()">返回</button>
    <button class="button pull-right" go-home ng-click="goHomePage()">首页</button>
  </ion-header-bar>
  <ion-content class="padding">
     
  </ion-content>
  <ion-footer-bar align-title="left" class="dark-bg">
    <div class="row padding text-center">
      <a class="cu-col-17 light">首页</a>
      <a class="cu-col-17 light">书架</a>
      <a class="cu-col-17 light">分类</a>
      <a class="cu-col-17 light">留言</a>
      <a class="cu-col-17 light">充值</a>
      <a class="cu-col-17 light">客户端</a>
    </div>
  </ion-footer-bar>
</ion-view>

