/* Empty. Add your own CSS if you like */
body{
  font-family:"microsoft YaHei";
}
.cu-bar{
  background:#e98110;
}
.cu-bar .button{
  border:none;
  background:transparent;
  color:#fff;
  font-size:18px;
  font-weight:bold;
}
.tabs-icon-top > .tabs .tab-item{
  font-size:20px;
  line-height:50px;
}
.cu-item{
  padding:0px;
}
.cu-border{
  border-bottom: 1px dashed #ccc;
}
.cu-margin{
  margin-bottom:15px;
}
.cu-col-17{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.667%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 16.667%;
  -ms-flex: 0 0 16.667%;
  flex: 0 0 16.667%;
}
