/* Empty. Add your own CSS if you like */
body{
  font-family:"microsoft YaHei";
}
a{
  text-decoration: none;
  color:#000;
}
.cu-bar{
  background:#e98110;
}
.cu-bar .button{
  border:none;
  background:transparent;
  color:#fff;
  font-size:16px;
  background:#fa9120;
}
.tabs-icon-top > .tabs .tab-item{
  font-size:20px;
  line-height:50px;
}
.cu-item{
  padding:0px;
}
.cu-border{
  border-bottom: 1px dashed #ccc;
  margin-top:0;
}
.cu-margin{
  margin-bottom:15px;
}
.cu-col-17{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.667%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 16.667%;
  -ms-flex: 0 0 16.667%;
  flex: 0 0 16.667%;
}
.cu-col-32{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 32%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
}

.cu-qq{
  background:#dfe1ed;
  border:none;
  color:#295278;
}
.cu-qq img{
  vertical-align: top;
}
.cu-qq span{
  margin-top: 8px;
  display: inline-block;
}
.cu-resg{
  background:#638c0b;
}
.cu-button{
  float: right;
}
.item-input-insets.light-bg{
  background-color: #fff;
}
.cu-padding{
  padding-top: 0px;
  padding-bottom: 0px;
}
.cu-padding-15{
  padding-top: 15px;
}
.cu-margin{
  margin-top: 10px;
}
.inline-block{
  display: inline-block;
}
.cu-font-18{
  font-size: 18px;
}
.cu-col-12{
  font-size: 12px;
}
.right{
  float: right;
}
.cu-bottom-size{
  min-width: 70px;
  min-height:40px;
  line-height: 36px;
}
.cu-kind div{
  margin-right: 10px;
  margin-bottom: 10px;
}
.cu-pay .col{
  height: 80px;
  background-color: #fff;
}
.cu-col-margin{
  margin-right: 10px;
  margin-bottom: 10px;
}
.cu-pay-white{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font-size: 8px;
  height: 50px;
  border: 1px solid #b2b2b2;
  border-bottom: none;
  text-align: center;
}
.cu-pay-bar{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.cu-payBox{
  margin-right: 5px;
  margin-bottom: 10px;
}
.cu-qrcode{
  margin: 0 auto;
}
.cu-sortOut{
  border-radius: 5px;
  border: none;
  background-color:#fa9120;
  margin-bottom: 10px;
}
.cu-userMessage>div{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.cu-userMessage button{
  padding: 10px 20px;
  border: none;
  margin: 15px 10px;
}
