/* Empty. Add your own CSS if you like */
body{
  font-family:"microsoft YaHei";
}
.cu-bar{
  background:#e98110;
}
.cu-bar .button{
  border:none;
  background:transparent;
  color:#fff;
  font-size:18px;
  font-weight:bold;
}
.tabs-icon-top > .tabs .tab-item{
  font-size:20px;
  line-height:50px;
}
